#test1 {
    padding: 16px;
    margin:2%;
    border: 2px solid black;
    background: green;
    border-radius: 8px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

#test1:hover{
    background: yellow
}

/* start NeuralNetwork57 */
#myOwnTest {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 8px;
    border: 2px solid black;
    font-family: monospace;
    background: rgb(255, 176, 216);
    cursor:pointer;
    transition: linear;
}

.aboutNavbar {
    padding: 14px;
    background: rgb(0, 86, 210); /* RGB in Coursera blue colour */
    border-radius: 22px;
    display: flex;
    cursor: pointer;
}
.aboutNavbar:hover{
    color:aliceblue;
}


.aboutUsTitle {
    padding-left: 44px;
}

.navItem {
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none; /* to remove dots in between items */
    font-size: x-large; 
    cursor: pointer;
}
.navItem:hover{
    color: white;
}


.aboutHeader {
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none; /* to remove dots in between items */
    font-size: x-large; 
    cursor: pointer;
    border-style:dashed;
    background: aliceblue    
}


.aboutMember {
  padding: 10px;
  padding-block: 10px;
  font-family: Cambria; 
  font-size: large;
  cursor: pointer; 
  border-style:dashed;
  background-color: aliceblue 
}
.aboutMember:hover {
    color: rgb(0, 86, 210);
}


.aboutFooter {
    font-size: small;
    align-content:center;
    padding-block: 50px;
    cursor: pointer;
    background-color: aliceblue;
}
.aboutFooter:hover {
    color: rgb(0, 86, 210);
}
/* end NeuralNetwork57 */
